* {
    all: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup {
    all: initial; /* resetting styles */
    position: fixed;
    top: 50px;
    left: 50px;
    border: 2px white solid;
    padding: 8px;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 6px;
    z-index: 1000;
    font-size: 20px;
    min-height: 250px;
    min-width: 450px;
    max-height: 250px;
    max-width: 450px;
    overflow-y: scroll;
}

.sentence {
    font-style: italic;
    color: rgba(255,255,255,0.6)
}


.word {
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-wrap-mode: wrap;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.type {
    font-size: 14px;
    font-weight: normal;
    border: 2px solid purple;
    background-color: purple;
    border-radius: 5px;
    padding: 2px;
    margin-left: 10px;
}

.definitions {
    font-size: 14px;
}

.def-list {
    background-color: rgb(29, 22, 22);
    padding: 10px;
    border-left: 2px solid;
    border-radius: 15px;
    margin: 0 auto;
    padding-left: 30px;
}

.synonym {
    font-weight: normal;
    font-size: 80%;
    color: white;
    display: inline;
    margin-top: 5px;
}

.syn-title {
    color: rgb(104, 104, 104);
    font-size: 15px;
}

.visible {
    display: none;
}

.extra-def-btn {
    list-style-type: none;
}

.extra-def-btn::before {
    
    background-color: rgb(43, 43, 43);
    color: white;
    margin-right: 10px; /* Space between arrow and text */

}
